# --- Python ---
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
build/
dist/

# --- IDEs (PyCharm) ---
.idea/
*.iml
.vscode/

# --- Environment & Secrets ---
.env
.env.*
*.key
*.pem

# --- Docker ---
.docker/

# --- OS Specific ---
.DS_Store
Thumbs.db

# --- Project Specific ---
uploads/
temp_scan/
*.msi
*.exe

# --- Local Only ---
bin/
app/__pycache__/